<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{50} - %msg%n"/>
		</Console>
		<File name="running_log" fileName="logs/running.log" append="false">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{50} - %msg%n"/>
		</File>
		<RollingFile name="persistence_log" fileName="logs/crawl.log" 
			filePattern="logs/$${date:yyyy-MM}/dh_blog-%d{MM-dd-yyyy}=%i.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{50} - %msg%n"/>
			<SizeBasedTriggeringPolicy size="10MB"/>
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="com.gj.crawler" level="info" additivity="true" >
			<appender-ref ref="persistence_log"/>
		</logger>
		<root level="trace">
			<appender-ref ref="console"/>
		</root>
	</loggers>
</configuration>